<!DOCTYPE html>

<!-- Students: Destany Westrate, Sarah Miller, Michael Scott, and James Fox.
	File Name: C3 In The Lab 3: Creating a Website for Student Clubs and Events
	07/10/2023
	CRN 61113 BUS228
	-->
	
<html lang="en">
	
	<title>calendar.html</title>
		
	<meta charset=utf-8>
	
	<body>


	<header>
		<h2>2023 Calendar</h2>
    <img src="C:\Users\Destany's Future\OneDrive\BUS228\Student Clubs and Events\images\calendar.jpg" alt="calendar" height="215" width="215">
		
	</header>
	
	<nav>
	
		<p><a href=home.html>Home</a> &nbsp; &#9475; &nbsp;
		<a href=clubs-events.html>Clubs & Events</a> &nbsp; &#9475; &nbsp;
		<a href=calendar.html>Calendar</a> &nbsp; &#9475; &nbsp;
		<a href=faq.html>FAQ</a> &nbsp; &#9475; &nbsp;
		<a href=contact-us.html>Contact Us</a></p>
		
	</nav>
	
	
	<main>
	
  <div id="Weblinks:">

    <h3>WCCCD Directory:</h3>

      <p> <a href="https://www.wcccd.edu/news/directory.htm"> Click here for WCCCD directory.</a>

  </div>

  <div id="Website/Submission Help Contact:"

    <p> <a href="mailto:dwest1150070@mail.wcccd.edu">studentevents@mail.wcccd.edu</a> </p>


  </div>


		</main>
	
	
	<footer>

    <p> <a href="https://www.wcccd.edu/">Wayne County Community College District</a>
    <p> &copy; Copyright 2023. All Rights Reserved.</p>

  </footer>

